@charset "utf-8";
/* CSS Document */

* {
	margin: 20px;
}

body{
	
	font-weight:bolder;
	color:blue
}

main {
	width:940px;
	height:300px;
	margin:auto;
}

section#cUsuario {
	width:90%;
	height:150px; 
	float:left;
	margin-left:5%;
	margin-top: 5%;
}

.label{
	margin:100% 15% 15% 0%;
	width: 5%;
}

input{	
	margin:0% 0% 0% 0%;
	
	
}
select{	
	margin:0% 0% 0% 0%;
}


.button{
	margin:10% 0% 0% 0%;
}

