* {
	margin: 0px;
}

body {
	font-family: Arial, Verdana, sans-serif;
	color: #000;
}

header {
	width: 100%;
	height: 80px;
	background-color: #FFF;
}
	
	header .principal {
		width: 940px;
		height: 100%;
		margin: auto;
		background-color: #CFB53B;
		border-radius: 5px 5px 5px 5px;
	}

		header .principal h1 {
			color: #000;
			font-size: 18px;
			padding-left: 15px;
			padding-top: 20px;
			float: left;
		}
		header .principal h2 {
			color: #000;
			font-size: 12px;
			padding-left:5px;
			padding-top: 40px;
			font-family: monospace;
			float: left;
		}

		header .principal header nav {
			float: left;
		}

			header nav ul li {
				display: inline-block;
				width: 150px;
				padding-left: 8px;
				text-align: center;
				padding-top: 50px;
			}
				
				header nav ul li a {
					color: #3366FF;
					text-decoration: none;
					font-size: 10px;
					font-weight: bold;				
					display: block;
					width: 100%;
					height: 20%;
					padding-top: 5px;
					border-radius: 5px 5px 5px 5px;
					background-color: #EEDD82;
				}			
				header nav ul li a:hover {								
					background-color: #FFFFE0;
				}

main {
	width: 940px;
	height: 1300px;
	margin: auto;
}
	main p{
		font-size: 12px;
	}
	section#global {
		width: 100%;
		height: 400px; 
		background-color: #F5F5DC;
	}
		section#global article {
			width: 100%;
			height: 35px;
			float: left;
			padding-top: 35px;
		}
			section#global .dados form { 
				font-family: arial;
				font-size: 12px; 
			}
			section#global .dados input { 
				margin-bottom: 20px;
				margin-left: 420px; 
				border: 1px solid #999;
		    }
			section#global .dados input, label {
				display: block;
				 margin-left: 400px; 
			}
			section#global article h1 {
				padding: 20px 150px;
				text-align: center;
				float: right;				
			}	
			section#global article p {
				padding: 0px 150px;
				color: #777;
				text-align: center;
				float: right;
			}
			section#global article span{
				font-weight: normal;
			}

	section#artigos {
		width: 100%;
		height: 920px;
		background-color: #DBDB70;
	}

		section#artigos .texto1 {
			width: 25%;
			height: 150px;
			float: left;
		}

		section#artigos .texto1 h4 {
				padding-top: 20px;
		}

		section#artigos .texto2 {
			width: 25%;
			height: 150px;
			
		}
			section#artigos .texto2 h4 {
				padding-top: 20px;
			}
		section#artigos .publicidade {
			width: 40%;
			height: 150%;
			float: right;
		}
		section#artigos .publicidade figure {
				margin-bottom: 9px;
		}
		section#artigos figcaption {
			font-size: 12px;
			font-weight: bold;
		}

footer {
	width: 100%;
	height: 60px;
	background-color: #CFB53B ;
}
footer p{
		color: #3366FF;
		text-align: center;
		font-size: 12px;
}